* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Kantumruy Pro', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    flex-direction: row-reverse;
    color: coral;
    background-image: linear-gradient(#4E4D49, #151515);
    justify-content: space-evenly;
}

.abgimage {

    width: 100%;
    height: 120vh;
}

.headerbox {
    border: 40px inset coral;
    border-radius: 15px;
    padding: 120px;
    padding-top: 190px;
    color: wheat;
}

.main-heading {
    color: #e362cd;
    font-size: 35px;
    font-weight: 100;
}

.woo {
    color: #d13b6d;
    font-size: 45px;
    font-weight: 800;

}

.button1 {
    padding: 20px;
    background-image: linear-gradient(#e362cd, #d13b6d);
    border: 3px solid wheat;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
}

.buttonbox {
    padding-top: 20px;
}



.buttonbox a {
    text-decoration: none;
    color: black;
}

.buttonbox a:hover {
    font-weight: bolder;
}

.menu-container {
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    color: white;
    position: sticky;
    top: 0;
}

.company-name h1 a {
    text-decoration: none;
}

.menu-list {
    list-style: none;
    display: flex;
    padding-left: 150px;
}

.menu-list li {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
}

.menu-list li a {
    text-decoration: none;
    color: wheat;
}

.menu-list li a:hover {
    color: #d13b6d;
}

.about-us {
    background-image: url(images/shapes/7.png);
    height: 80vh;
}

.abtus-title {
    padding: 30px 0px 30px 100px;
}

.para p {
    padding: 10px 50px;
}

.our-services {
    padding: 10px 50px;
    text-align: center;
    background-color: #e0ecdf
}

.main-heading {
    padding-top: 30px;
}

.main-box {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.boxpara {
    padding: 40px;
    border: 10px inset coral;
    border-radius: 10px;
    margin-right: 50px;
    margin-top: 30px;
}

.contact-us {
    text-align: right;
    background-image: url(images/shapes/8.jpg);
    padding-right: 50px;
}